.app-view {
  &.dashboard {
    max-width: 1000px;
    padding: 20px;
    display: flex;
    .tickets,
    .servers {
      flex: 1 1;
      min-height: 10vw;
      display: flex;
      align-items: center;
      justify-content: center;
      .flex-left {
        text-align: center;
      }
      .flex-right {
        padding-left: 20px;
      }
      .title {
        color: #999;
      }
      .big {
        font-size: 3em;
      }
    }
  }
}
