<div class="organisation-new app-view">
  <form class="organisation-new-form">
    <input name="name" type="text" placeholder="Name">

    <button type="submit" class="create">Organisation erstellen</button>
  </form>
</div>
