<div class="server-alerts app-view">
  <div class="alert-list"></div>
  <form class="new-alert-form" action="#" method="post">
    <div class="title">New Alert</div>
    <div class="input component">
      <label for="component">Component</label>
      <select class="component" name="component">
        <option value="cpu.t">CPU</option>
        <option value="ram">RAM</option>
      </select>
    </div>

    <div class="input type">
      <label for="type">Type</label>
      <select class="type" name="type">
        <option value="mean">Average</option>
      </select>
    </div>

    <div class="input operator">
      <label for="bound">log. Operator</label>
      <select class="operator" name="operator">
        <option value="lt">lt</option>
        <option value="lte">lte</option>
        <option value="gt">gt</option>
        <option value="gte">gte</option>
      </select>
    </div>

    <div class="input value">
      <label for="value">Value</label>
      <input type="text" name="value" value="80">
      <span class="unit">%</span>
    </div>

    <div class="input interval">
      <label for="interval">Interval</label>
      <input type="number" min="2" name="interval" value="5">
      <span class="unit">min</span>
    </div>

    <button type="submit" class="submit button button-primary">
      <span class="octicon octicon-radio-tower"></span>Create alarm
    </button>

  </form>
</div>
