<div class="server app-view" id="server-<%= id %>">
  <sub-navigation></sub-navigation>
  <div class="header">
    <div class="attributes clearfix">
      <div name="Server" class="attribute name"><%= name %></div>
      <div name="CPU" class="attribute cpu"><%= specs.cpu.logical %></div>
      <div name="RAM" class="attribute ram"><%= (specs.ram / 1024).toFixed(1) %>GB</div>
      <div name="SWAP" class="attribute swap"><%= (specs.swap / 1024).toFixed(1) %>GB</div>
      <div name="OS" class="attribute os"><%= specs.os.humandReadable %></div>

      <% var bt = moment().diff(specs.os.bootTime, 'days') %>
      <div name="Running since" class="attribute bt"><%= bt > 0 ? bt + ' days' : moment().diff(specs.os.bootTime, 'hours') + ' hours' %></div>
      <div class="actions">
        <!--<div class="title">Interactions</div>-->
        <a class="alerts" href="/server/<%= id %>/alerts"><i class="material-icons">notifications</i></a>
        <a class="settings" href="/server/<%= id %>/settings"><i class="material-icons">settings</i></a>
      </div>
    </div>
  </div>

  <div class="time-control">
    <div class="type">
      <div class="title">Statistic Type</div>
      <a href="#" value="min" class="option <%= type === 'min' ? 'active' : ''%>">Min</a>
      <a href="#" value="mean" class="option <%= type === 'mean' ? 'active' : ''%>">Mean</a>
      <a href="#" value="max" class="option <%= type === 'max' ? 'active' : ''%>">Max</a>
    </div>
    <div class="granularity">
      <div class="title">Granularity</div>
      <div value="1" class="option">1 Min</div>
      <div value="5" class="option">5 Min</div>
      <div value="15" class="option">15 Min</div>
    </div>
    <div class="zoom">
      <div class="title">Zoom</div>
      <a href="#" value="6" class="option <%= timespan === 6 ? 'active' : ''%>">6 Hrs</a>
      <a href="#" value="24" class="option <%= timespan === 24 ? 'active' : ''%>">1 Day</a>
      <a href="#" value="48" class="option <%= timespan === 48 ? 'active' : ''%>">2 Days</a>
      <a href="#" value="168" class="option <%= timespan === 168 ? 'active' : ''%>">1 Week</a>
      <a href="#" value="336" class="option <%= timespan === 336 ? 'active' : ''%>">2 Week</a>
    </div>
  </div>

  <div class="graph-container">
    <line-chart cs="1" name="CPU" description="Utilization" unit="%" prop="cpu-total,cpu-user,cpu-system"></line-chart>
    <line-chart cs="2" name="RAM" description="Utilization" groups="ram.used,ram.cached,ram.buffers" unit="b" prop="ram.used,ram.cached,ram.buffers" type="area" max="<%= specs.ram %>"></line-chart>
    <line-chart cs="3" name="Network" description="Incoming and Outgoing" unit="b" prop="net-received,net-transmitted"></line-chart>
    <line-chart cs="4" name="Festplatte" description="Reads and Writes" unit="b" prop="disk-writes,disk-reads"></line-chart>
    <line-chart cs="6" name="SWAP" description="Utilization" prop="swap" unit="b" max="<%= specs.swap %>"></line-chart>
    <line-chart cs="7" name="Connections" description="All protocols" prop="net-connections-all"></line-chart>
  </div>
</div>
