<div class="server-new app-view">
  <form class="server-new-form">
    <input name="name" type="text" placeholder="Name">
    <input name="description" type="text" placeholder="Beschreibung">

    <select class="os" name="os">
      <optgroup label="deb">
        <option value="deb">Ubuntu 14</option>
        <option value="deb">Debian 8</option>
      </optgroup>

      <optgroup label="yum">
        <option value="yum">CentOS 6</option>
      </optgroup>

      <optgroup label="merge">
        <option value="merge">Gentoo</option>
      </optgroup>
    </select>

    <button type="submit" class="save">Server speichern</button>
  </form>
</div>
