<div class="server-about app-view">
  <sub-navigation></sub-navigation>
  <table>
    <!--<thead>
      <tr>
        <th>

        </th>
      </tr>
    </thead>-->
    <tbody>
      <tr>
        <td>Betriebssystem</td>
        <td>
          <%= specs.os.humandReadable %>
        </td>
      </tr>
      <tr>
        <td>Hostname</td>
        <td>
          <%= specs.hostname %>
        </td>
      </tr>
      <tr>
        <td>CPU</td>
        <td>
          <%= specs.cpu.physical %> (<%= specs.cpu.logical %>)
        </td>
      </tr>
      <tr>
        <td>RAM</td>
        <td>
          <%= (specs.ram / 1024).toFixed(2) %>GB
        </td>
      </tr>
      <tr>
        <td>Festplatten</td>
        <td>
          <% _.each(specs.disks, function(disk) { %>
          <div class="disk">
            <div class="path"><%= disk.path %></div>
            <div class="description" style="color: #999; font-size: 0.85em;">Total: <%= disk.total %>KB, Belegt: <%= disk.used %>KB (<%= parseInt(disk.used * 100 / disk.total) %>%)</div>
          </div>
          <% }); %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
