<% var diff = parseInt(moment().diff(new Date(lastFeedback), 'seconds')) %>

<td class="host">
  <a href="/server/<%= id %>">
    <% if(available) { %>
    <span style="color: #6ba442; font-size: 1.2em;" class="octicon octicon-primitive-dot"></span>
    <% } else { %>
    <span style="color: #e91e63; font-size: 0.8em;" class="octicon octicon-alert"></span>
    <% } %>
    <div class="name">
      <%= name %>
    </div>
    <div class="fqdn">
      <%= specs.fqdn %>
    </div>
  </a>
</td>

<td class="risk">
  <a href="/server/<%= id %>/reports">

  </a>
</td>

<td class="os">
  <div class="name">
    <%= specs.os.humandReadable %>
  </div>
</td>

<td class="status">
  <div class="<%= diff < 100 ? 'success' : 'error' %>">
    <% if(diff < 120) { %>
      <%= diff > 0 ? diff : 0 %> sec ago
    <% } else { %>
    	<span>not responding</span>
    <% } %>
  </div>
</td>

<td class="client <%= dealer === '' ? 'error' : '' %>">
  <div class="version"><%= dealer !== '' ? dealer : 'Unknown' %></div>
  <div class="info <%= dealer === latest ? 'latest' : 'outdated' %>">
    <%= dealer === latest ? 'Latest' : 'Outdated' %>
  </div>
</td>

<td class="actions">
  <span class="subscription <%= subscribed === true ? 'subscribed' : '' %>">
      <a class="toggleSubscription" href="#"><i class="material-icons">rss_feed</i></a>
  </span>
  <a class="alerts" href="#"><i class="material-icons">add_alert</i></a>
  <a class="settings" href="#"><i class="material-icons">settings</i></a>
</td>
