<div class="settings app-view">
    <form id="invite-user-form">
        <input placeholder="Vorname" id="first-name" type="text" />
        <input placeholder="Name" id="name" type="text" />
        <input placeholder="E-Mail" id="email" type="email" />
        <a href="#" id="invite-user-form-submit" class="button button-primary">Benutzer anlegen</a>
    </form>
</div>
