<a <% if(running) { %>href="/server/<%- id %>"<% } %>id="sidebar-server-<%- id %>">
<span class="octicon octicon-star vertical-middle"></span>
<div class="name">
  <%- name %>
</div>
<div class="status running-<%= running %>"></div>

</a>
