<div class="users app-view">
  <div class="title clearfix">
    <span>Users</span>
    <div class="search-container">
      <icon class="search"></icon>
      <input autofocus type="search" placeholder="Search...">
    </div>
  </div>
  <div class="separator"></div>
  <div class="users-container"></div>
</div>
