<div id="sign-up" style="opacity: 0;">
  <div class="layer"></div>
  <div class="inner">
    <input type="email" name="email" placeholder="Ihre E-Mail Adresse">
    <input type="submit" value="Account erstellen">
    <a href="https://app.enginsight.com" class="login">Sie haben bereits ein Account bei uns?</a>
  </div>
</div>
