<div id="sign-up-modal" style="opacity: 0; visibility: hidden;">
  <div class="layer"></div>
  <div class="inner">
    <div class="title">30 Tage kostenlos testen</div>
    <input type="name" name="name" placeholder="Ihr Name">
    <input type="email" name="email" placeholder="Ihre E-Mail Adresse">
    <input type="submit" value="Account erstellen">
    <a href="https://app.enginsight.com" class="login">Sie haben bereits ein Account bei uns?</a>
  </div>
</div>
