$primaryColor: #e91e63;
.button-fixer {
  position: fixed;
  bottom: 0;
  background: #222;
  width: calc(100% - 70px);
  padding: 10px;
  left: 70px;
  text-align: right;
  height: 55px;
}
.button {
  text-transform: uppercase;
  color: #fff;
  padding: 7px 10px 5px;
  border-radius: 3px;
  border: solid 3px transparent;
  text-align: center;
  background-size: 14px !important;
  background-position: 10px !important;
  background-repeat: no-repeat !important;
  line-height: 20px;
  .button-fixed {}
  span {
    padding-right: 5px;
  }
  &.button-large {
    padding: 15px 20px;
    font-size: 18px;
  }
  &.button-app {
    border-color: #eee;
    color: #333;
  }
  &.button-small {
    padding: 3px 5px;
    font-size: 12px;
    box-shadow: none!important;
  }
  &.button-primary {
    background: $primaryColor;
    margin-left: 0;
  }
  &.button-loader {
    transition: all 0.1s;
    background-image: url("/images/loader/audio.svg")!important;
    padding-left: 35px !important;
  }
  &.button-white-bordered {
    border-color: #fff;
  }
  &.button-primary-bordered {
    border-color: $primaryColor;
    color: $primaryColor;
  }
  .material-icons {
    float: left;
    font-size: 1.45em;
    margin-left: -5px;
    margin-right: 2px;
  }
}
