table {
    width: 100%;
    text-align: left;
    thead {
        tr {
            border-bottom: solid 1px #f1f1f1;
        }
        th {
            padding: 8px 0;
        }

    }
    tbody {
        tr {
            border-bottom: solid 1px #f1f1f1;
        }
        td {
            padding: 8px 0;
        }
    }
}