<div class="container">
  <div class="columns">
    <section class="about column column-2-3">
      <h2 class="page-title">Was sind wir?</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
    </section>
    <div class="team column column-1-3">
      <div class="member">
        <img src="">
        <div class="name">Vorname Nachname</div>
        <div class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</div>
      </div>
      <div class="member">
        <img src="">
        <div class="name">Vorname Nachname</div>
        <div class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</div>
      </div>
      <div class="member">
        <img src="">
        <div class="name">Vorname Nachname</div>
        <div class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy</div>
      </div>
    </div>
  </div>

  <section class="timeline column column-2-3">
    <h2 class="page-title">Was bisher geschah?</h2>
    <div class="event">
        <img src="">
        <div class="date">01.09.2016</div>
        <div class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</div>
    </div>
  </section>
</div>
