<section class="hero">
  <div class="container">
    <div class="title">Data-Driven Monitoring</div>
    <p class="description"><%= __('slogan') %></p>
    <a href="http://eepurl.com/bTTo1P" class="button button-primary"><%= __('index.hero.primary') %></a>
  </div>
</section>

<section class="about container">
  <h3 class="section-title">Data-Driven Monitoring</h3>
  <p class="lead">Enginsight ist ein selbstständig lernendes Server Monitoring Tool der nächsten Generation. Enginsight ermittelt das Normalverhalten Ihrer Server und alarmiert Sie bei atypischen Verhaltensmustern.</p>
</section>

<section class="usp border-bottom">
  <div class="columns container">
    <div class="column column-1-3">
      <svg fill="#e91e63" height="50" viewBox="0 0 24 24" width="50" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M10 12c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zM6 8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12-8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm-4 8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm4-4c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-4-4c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-4-4c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
      </svg>
      <h4>Data-Driven Analytics</h4>
      <p class="mute">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
    </div>
    <div class="column column-1-3">
      <svg fill="#e91e63" height="50" viewBox="0 0 24 24" width="50" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M7 18h2V6H7v12zm4 4h2V2h-2v20zm-8-8h2v-4H3v4zm12 4h2V6h-2v12zm4-8v4h2v-4h-2z"/>
      </svg>
      <h4>Intelligente Mustererkennung</h4>
      <p class="mute">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
    </div>
    <div class="column column-1-3">
      <svg fill="#e91e63" height="50" viewBox="0 0 24 24" width="50" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M14 4l2.29 2.29-2.88 2.88 1.42 1.42 2.88-2.88L20 10V4zm-4 0H4v6l2.29-2.29 4.71 4.7V20h2v-8.41l-5.29-5.3z"/>
      </svg>
      <h4>Autonom agierend</h4>
      <p class="mute">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt</p>
    </div>
  </div>
</section>

<section class="gain">
  <div class="container">
    <div class="check">
      <svg xmlns="http://www.w3.org/2000/svg" fill="#e91e63" height="30" viewBox="0 0 24 24" width="30">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
      </svg>
      <p class="lead mute">Autonome Überwachung von großen und schnell wachsenden Infrastrukturen.</p>
    </div>
    <div class="check">
      <svg xmlns="http://www.w3.org/2000/svg" fill="#e91e63" height="30" viewBox="0 0 24 24" width="30">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
      </svg>
      <p class="lead mute">Reduzierung von Personalaufwand und Day-To-Day Management.</p>
    </div>
    <div class="check">
      <svg xmlns="http://www.w3.org/2000/svg" fill="#e91e63" height="30" viewBox="0 0 24 24" width="30">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
      </svg>
      <p class="lead mute">Effizientes Risikomanagement.</p>
    </div>
  </div>
</section>

<section class="hosting">
  <div class="container">
    <h3 class="section-title">Hosting</h3>
    <div class="columns">
      <div class="column column-1-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#e91e63" height="50" viewBox="0 0 24 24" width="50">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM19 18H6c-2.21 0-4-1.79-4-4s1.79-4 4-4h.71C7.37 7.69 9.48 6 12 6c3.04 0 5.5 2.46 5.5 5.5v.5H19c1.66 0 3 1.34 3 3s-1.34 3-3 3z"/>
        </svg>
        <h4>Enginsight Cloud</h4>
        <p class="mute">Verwalten sie Ihre Daten bequem über unseren Enginsight Cloud Service in einem dedizierten Bereich.</p>
        <a href="/contact/">Erfahren Sie mehr</a>
      </div>
      <div class="column column-1-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#e91e63" height="50" viewBox="0 0 24 24" width="50">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M12 7V3H2v18h20V7H12zM6 19H4v-2h2v2zm0-4H4v-2h2v2zm0-4H4V9h2v2zm0-4H4V5h2v2zm4 12H8v-2h2v2zm0-4H8v-2h2v2zm0-4H8V9h2v2zm0-4H8V5h2v2zm10 12h-8v-2h2v-2h-2v-2h2v-2h-2V9h8v10zm-2-8h-2v2h2v-2zm0 4h-2v2h2v-2z"/>
        </svg>
        <h4>On-Premise</h4>
        <p class="mute">Betreiben Sie Ihre eigene unabhängige Enginsight Instanz als On-Premise Lösung in Ihrem Unternehmen.</p>
        <a href="/contact/">Erfahren Sie mehr</a>
      </div>
    </div>
  </div>
</section>

<section class="sign-up">
  <div class="container">
    <a href="/" class="button button-primary"><%= __('index.hero.primary') %></a>
    <p class="lead">Gleich heute kostenlos registrieren und Risiko reduzieren.</p>
  </div>
</section>
