<div class="container">

  <h2>Datenschutzerklärung</h2>
  <p>Der Schutz Ihrer personenbezogenen Daten ist Enginsight sehr wichtig. Nachstehend informieren wir Sie darüber, in welchem Umfang und auf welche Weise Ihre Daten von Enginsight erhoben und verwendet werden.</p>

  <h3>1. Personenbezogene Daten</h3>
  <p>Enginsight richtet sich bei der Erhebung und Verarbeitung Ihrer personenbezogenen Daten nach den geltenden gesetzlichen Bestimmungen, insb. nach dem Bundesdatenschutzgesetz (BDSG), und wird stets verantwortungsvoll und sorgfältig mit Ihren Daten umgehen.</p>
  <p>Ihre „personenbezogenen Daten“ sind alle Angaben, die Ihre persönlichen oder sachlichen Verhältnisse betreffen. Davon erfasst sind alle Angaben, die einen Rückschluss auf die Identität zulassen (z.B. Name, Adresse, E-Mailadresse, Bankverbindungsdaten
    usw.).
  </p>
  <p>Enginsight hält sich bei der Erhebung, Speicherung und Verwendung Ihrer personenbezogenen Daten in vollem Umfang an das geltende Recht. Darüber hinaus verpflichtet sich Deutsche Startups, jederzeit verantwortungsvoll und sorgfältig mit Ihren Daten umzugehen.</p>
  <p>Enginsight speichert mitunter auch Daten ohne Personenbezug wie z.B. den Namen Ihres Internet Service Providers oder die Seite, von der aus Sie Enginsight besucht haben. Diese Daten verwenden wir ausschließlich zur Verbesserung unseres Angebotes, das
    heißt für statistische Zwecke. Sie sind anonymisiert und erlauben keinen Rückschluss auf Ihre Person.</p>
  <h3>2. Die Verwendung von Cookies</h3>
  <p>Um den Besuch der Enginsight Internetseite für Sie so attraktiv wie möglich zu gestalten und Ihnen die Nutzung bestimmter Funktionen zu ermöglichen, die die Handhabung unserer Internetseite für Sie erheblich vereinfachen, verwendet Enginsight sogenannte
    Cookies. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden.</p>
  <p>Viele Browser sind so eingestellt, dass sie Cookies automatisch akzeptieren. Sie können die Einstellungen Ihres Browsers diesbezüglich jederzeit ändern. Eine Änderung kann allerdings dazu führen, dass Sie unsere Internetseite nicht oder nicht in vollem
    Umfang nutzen können.</p>
  <p>Die Enginsight Internetseite arbeitet außerdem mit sogenannten Sitzungs-Cookies und mit persistenten Cookies, ohne dass wir Sie darauf im Einzelfall immer besonders hinweisen können.</p>
  <p>Mit den Sitzungs-Cookies erhalten Sie beim Besuch unserer Internetseite eine anonyme ID, mit deren Hilfe wir Muster und Strukturen bei der Internetseiten-Nutzung analysieren und unser Angebot optimieren können. Sitzungs-Cookies werden nach Ende der
    Browser-Sitzung wieder automatisch von Ihrem Rechner gelöscht.</p>
  <p>Persistente Cookies verbleiben auf Ihrem Rechner und helfen dabei, den Rechner bei Ihrem nächsten Besuch wiederzuerkennen. Dadurch können Sie zum Beispiel für einen längeren Zeitraum bei Enginsight angemeldet bleiben, ohne nach dem Verlassen unserer
    Internetseite bei jedem neuen Besuch Ihre Anmeldedaten eingeben zu müssen.</p>

  <h3>3. Webanalysedienste – Google Analytics</h3>
  <p>Auf der Internetseite von Enginsight werden durch Google Analytics, einem Webanalysedienst der Google Inc. („Google“), Daten erhoben und gespeichert aus denen anonymisierte Nutzungsprofile erstellt werden. Google Analytics verwendet sog. „Cookies“,
    Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website ermöglichen. Die durch den Cookie erzeugten Informationen werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.</p>
  <p>Die IP-Adresse wird von Enginsight anonymisiert (anonymizeIp() sog. IP-Masking), daher wird Ihre IP-Adresse von Google innerhalb der Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum
    gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Google-Server in den USA übertragen und dort gekürzt.</p>
  <p>Im Auftrag von Enginsight nutzt Google diese Informationen, um die Nutzung der Internetseite auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen
    gegenüber Enginsight zu erbringen. Ihre IP-Adresse wird dabei nicht mit anderen Daten von Google zusammengeführt.</p>
  <p>Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen auf den Internetseiten von Enginsight
    vollumfänglich nutzen können.</p>
  <p>Darüber hinaus können Sie die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden
    Link (http://tools.google.com/dlpage/gaoptout?hl=de) verfügbare Browser-Plugin herunterladen und installieren.</p>
  <p>Weitere Informationen zu Google Analytics finden Sie <a href="http://www.google.de/intl/de/analytics/privacyoverview.html">hier</a> oder <a href="http://tools.google.com/dlpage/gaoptout?hl=de">hier</a>.</p>

  <h3>4. Weitergabe von Daten an Dritte</h3>
  <p>In bestimmten Fällen sind wir zur Weitergabe Ihrer personenbezogenen Daten an Dritte gesetzlich verpflichtet sind (zum Beispiel bei Strafver­folgungs­maßnahmen).</p>

  <h3>5. Der Schutz Ihrer Daten</h3>
  <p>Die Internetseiten von Enginsight und die sonstigen Systeme sind durch technische und organisatorische Maßnahmen gegen Verlust, Zerstörung, Zugriff, Veränderung oder Verbreitung der Daten durch unbefugte Personen geschützt. Trotz regelmäßiger Kontrollen
    ist ein vollständiger Schutz gegen alle Gefahren jedoch nicht möglich.</p>

  <h3>6. Ihre Rechte / Ihr Ansprechpartner</h3>
  <p>Sie haben ein Recht auf unentgeltliche Auskunft über Ihre gespeicherten Daten sowie ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu können Sie Enginsight jederzeit eine Nachricht per E-Mail an info@enginsight.com senden.</p>
  <p>Auch bei allen anderen Fragen zur Erhebung, Verarbeitung oder Nutzung Ihrer personenbezogenen Daten, bei Auskünften, Berichtigung, Sperrung oder Löschung von Daten sowie Widerruf erteilter Einwilligungen wenden Sie sich bitte an info@enginsight.com.</p>

</div>
