.app-view {
  &.users {
    .search-container {
      padding-left: 70px;
      float: right;
      position: relative;
      right: 20px;
    }
    .users-container {
      padding: 0 20px;
      margin-bottom: 30px;
      .full-name {
        font-weight: 500;
      }
    }
  }
}
