.about-page

  .timeline
    margin-top: 45px;
    font-size: 1.1em;
    line-height: 1.3em;
    color: #222;
    .page-title
      margin-bottom: 20px;
    img
      float: left;
      width: 200px;
      height: 200px;
    .event
      padding: 10px 0px;
    .date, .description
      padding-left: 220px;

    .date
      font-weight: 500;
    .description
      color: #222;
      line-height: 1.3em;

  .columns
    padding-top: 30px;
    .column
      padding: 0;
      vertical-align: top;
      &.about
        padding-right: 30px;
        p
          padding: 10px 0px;
          font-size: 1.1em;
          color: #222;

    .member
      clearfix();
      margin-bottom: 15px;
      .name
        font-weight: 500;
        margin-bottom: 5px;
      .description
        font-size: .9em;
        color: #999;
        line-height: 1.3em;

    img
      width: 80px;
      height: 80px;
      float: left;
      margin-right: 15px;
