.index-page
  .usp, .hosting
    margin-bottom: -30px;
    .columns
      .column
        margin-bottom: 30px;
        @media screen and (max-width: 960px)
          padding: 0 10px;
        @media screen and (max-width: 640px)
          padding: 0;
