body.sign-up
  overflow: hidden;

#sign-up-modal
  opacity: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;

  .login
    margin-top: 15px;
    display: block;
    font-size: .85em;
    color: #999;

  &.active
    z-index: 99;
    transition: opacity .5s;
    opacity: 1!important;
    visibility: visible!important;
    width: 100%;
    height: 100%;
    .layer
      background-color: rgba(0, 0, 0, 0.9);
      height: 100%;

    .inner
      width: 100%;
      max-width: 400px;
      left: 50%;
      top: 50%;
      position: absolute;
      margin-left: -200px;
      margin-top: -130px;
      background: #eee;
      padding: 30px;
      @media screen and (max-width: 430px)
        padding: 0px 15px;
        left: inherit;
        margin-left: inherit;

      .title
        margin-bottom: 15px;
        font-size: 1.5em;

      input
        display: block;
        width: 100%;
        border-radius: 3px;
        margin-top: 5px;
        &[type="submit"]
          background: #e91e63;
          color: #fff;
