#mobile-nav
  display: none;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  z-index: 99;
  @media screen and (max-width: 480px)
    display: inline;

.nav-items
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);

  @media screen and (max-width: 480px)
    width: 100%;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 9;

    will-change: transform;
    transform: translateY(-100%);

    &.mobile-nav
      transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1);
      transform: none;

    .items
      padding: 10px 0;
      .item
        float: none!important;
        margin-left: 15px!important;
        padding: 10px 0px;


  .items
    .item
      float: left;
      margin-left: 30px;
