.app-view {
  &.server-about {
    padding-top: 10px;
    padding-left: 200px;
    table {
      background: #fff;
      tr {
        border: none;
      }
      td {
        padding: 10px 15px;
      }
    }
  }
}
